<% if current_user && current_user.id == @user.id %>
  <% if current_user.listener? %>
    <div class="user-main">
      <div class="user-left-col">
        <div class="user-left-top">
          <h3>Welcome <%= current_user.name%>!</h3>
          <%= link_to 'Become a broadcaster', edit_user_path(@user) %>
        </div>
        <div class="user-left-bottom">
          <h4>Teams You Follow:</h4>
          <% @followteams.each do |followteam| %>
            <%if followteam.user_id == current_user.id && followteam.active == true %>
             <a href="/games/nfl/<%=followteam.team %>"><%=followteam.team %></a></br>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="user-right-col">
        <div class="user-right-top">
          <h4>Upcoming Broadcasts from those you follow:</h4>
          <% @followUsers.each do |f| %>
            <% @broadcasts.each do |b| %>
              <%if b.user == f.follower.id.to_s && f.active == true %>
               <a href="/broadcasts/<%=f.follower_id%>/<%=b.id %>"><%=User.find_by(id:f.follower_id).name %> - <%= b.away %> @ <%= b.home %></a></br>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="user-right-bottom">
          <h4>Broadcasters You Follow:</h4>
          <% @followUsers.each do |f| %>
             <a href="/users/<%=f.follower_id %>"><%=User.find_by(id:f.follower_id).name %></a></br>
          <% end %>
        </div>
      </div>
    </div>

  <% elsif current_user.broadcaster? %>
    <div class="user-main">
      <div class="user-left-col">
        <div class="user-left-top">
          <h3>Welcome <%= current_user.name%>!</h3>
          <a href=/broadcasts/<%= current_user.id %>/schedulebroadcast>Schedule a Broadcast!</a>
        </div>
        <div class="user-left-bottom">
          <h4>Teams You Follow:</h4>
            <% @followteams.each do |followteam| %>
                 <%if followteam.user_id == @user.id && followteam.active == true %>
                 <a href="/games/nfl/<%=followteam.team %>"><%=followteam.team %></a></br>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="user-right-col">
        <div class="user-right-top">
          <h4>Your Upcoming Broadcasts</h4>
          <% @usersbroadcasts.each do |b| %>
          <a href="/broadcasts/<%=current_user.id%>/<%=b.id %>"><%= b.away %> @ <%= b.home %></a></br>
        </br>
          <% end %>
        </div>
        <div class="user-right-bottom">
          <h4>Your followers:</h4>
            <% @followAll.each do |f| %>
               <%if f.follower_id == current_user.id && f.active == true %>
                <a href="/users/<%=f.user_id%>"><%=User.find_by(id:f.user_id).name %></a></br>
               <% end %>
          <% end %>
        </div>
      </div>
    </div>


    <% end %>
<% elsif  current_user && current_user.id != @user.id %>
  <% if @user.listener? %>
    <div class="user-main">
      <div class="user-left-col">
        <div class="user-left-top">
          <h3><%= @user.name%>'s page!</h3>
        </div>
        <div class="user-left-bottom">
          <h4>Teams <%=@user.name%> Follows:</h4>
           <% @followteams.each do |followteam| %>
             <%if followteam.user_id == @user.id && followteam.active == true %>
                <a href="/games/nfl/<%=followteam.team %>"><%=followteam.team %></a></br>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="user-right-col">
        <div class="user-right-top">
          <h4>Their Upcoming Broadcasts</h4>
            <% @followUsers.each do |f| %>
              <% @broadcasts.each do |b| %>
                <%if b.user == f.follower.id.to_s && f.active == true %>
                 <a href="/broadcasts/<%=f.follower_id%>/<%=b.id %>"><%=User.find_by(id:f.follower_id).name %> - <%= b.away %> @ <%= b.home %></a></br>
                <% end %>
              <% end %>
            <% end %>
        </div>
        <div class="user-right-bottom">
          <h4>Broadcasters <%=@user.name%> Follows:</h4>
          <% @followAll.each do |f| %>
            <%if f.user_id == @user.id%>
             <a href="/users/<%=f.follower_id %>"><%=User.find_by(id:f.follower_id).name %></a></br>
             <% end %>
          <% end %>
        </div>
      </div>
    </div>

  <% elsif @user.broadcaster? %>
    <div class="user-main">
      <div class="user-left-col">
        <div class="user-left-top">
          <h3>Welcome to <%= current_user.name%>'s Broadcasting page!</h3>
          <% if @followUser %>
            <% @followUsers.each do |follow| %>
              <% if follow.follower_id == @user.id && follow.active == true %>
                  <%= form_for @followUser do |f| %>
                    <input type="hidden" name="_method" value="patch">
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <%= f.hidden_field :follower_id, value: @user.id %>
                    <%= f.hidden_field :active, value: false  %>
                    <span class="mdl-layout-title">
                      <button class="team-follow-button"  type="submit" name="action">Unfollow <%= @user.name %></button>
                    </span>
                  <% end %>
              <% elsif follow.follower_id == @user.id && follow.active == false %>
                  <%= form_for @followUser do |f| %>
                      <input type="hidden" name="_method" value="patch">
                      <%= f.hidden_field :user_id, value: current_user.id %>
                      <%= f.hidden_field :follower_id, value: @user.id %>
                      <%= f.hidden_field :active, value: true  %>
                      <span class="mdl-layout-title">
                        <button class="team-follow-button" id="follow" type="submit" name="action">Follow <%= @user.name %></button>
                      </span>
                  <% end %>
              <% end %>
            <% end %>

          <% else %>
            <%= form_for @followUserNew do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :follower_id, value: @user.id %>
            <%= f.hidden_field :active, value: true  %>
                <span class="mdl-layout-title">
                  <button class="team-follow-button" id="follow" type="submit" name="action">Follow <%= @user.name %></button>
                </span>
            <% end %>
          <% end %>
        </div>
        <div class="user-left-bottom">
          <h4>Teams They Follow:</h4>
          <% @followteams.each do |followTeam| %>
          <%if followTeam.user_id == @user.id && followUser.active == true %>
            <a href="/games/nfl/<%=followUser.team %>"><%=followUser.team %></a></br>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="user-right-col">
        <div class="user-right-top">
          <h4>Their Upcoming Broadcasts</h4>

        </div>
        <div class="user-right-bottom">
          <h4>Their followers:</h4>
          <% @followAll.each do |f| %>
            <%if f.follower_id == @user.id%>
             <a href="/users/<%=f.user_id %>"><%=User.find_by(id:f.user_id).name %></a></br>
             <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<!-- <div class = "content">
  Testing facebook
  <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true">
  </div>
</div> -->
