<% if current_user && current_user.id == @user.id %>
  <% if current_user.listener? %>
    <div class="user-main">
      <div class="user-left-col">
        <div class="user-left-top">
          <h3>Welcome <%= current_user.name%>!</h3>
          <%= link_to 'Become a broadcaster', edit_user_path(@user) %>
        </div>
        <div class="user-left-bottom">
          <h4>Teams You Follow:</h4>
          <% @followUsers.each do |followUser| %>
          <%if followUser.user_id == current_user.id && followUser.active == true %>
            <a href="/games/nfl/<%=followUser.team %>"><%=followUser.team %></a></br>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="user-right-col">
        <div class="user-right-top">
          <h4>Upcoming Broadcasts from those you follow:</h4>

        </div>
        <div class="user-right-bottom">
          <h4>Broadcasters You Follow:</h4>
        </div>
      </div>
    </div>

  <% elsif current_user.broadcaster? %>
    <div class="user-main">
      <div class="user-left-col">
        <div class="user-left-top">
          <h3>Welcome <%= current_user.name%>!</h3>
          <a href="/broadcasts/<%=@user.id%>/new">Start a Broadcast!</a>
        </div>
        <div class="user-left-bottom">
          <h4>Teams You Follow:</h4>
          <% @followUsers.each do |followUser| %>
          <%if followUser.user_id == current_user.id && followUser.active == true %>
            <a href="/games/nfl/<%=followUser.team %>"><%=followUser.team %></a></br>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="user-right-col">
        <div class="user-right-top">
          <h4>Your Upcoming Broadcasts</h4>

        </div>
        <div class="user-right-bottom">
          <h4>Your followers:</h4>
        </div>
      </div>
    </div>


    <% end %>
<% elsif  current_user && current_user.id != @user.id %>
  <% if @user.listener? %>
    <div class="user-main">
      <div class="user-left-col">
        <div class="user-left-top">
          <h3><%= @user.name%>'s page!</h3>
        </div>
        <div class="user-left-bottom">
          <h4>Teams <%=@user%> Follows:</h4>
          <% @followUsers.each do |followUser| %>
          <%if followUser.user_id == @user.id && followUser.active == true %>
            <a href="/games/nfl/<%=followUser.team %>"><%=followUser.team %></a></br>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="user-right-col">
        <div class="user-right-top">
          <h4>Their Upcoming Broadcasts</h4>

        </div>
        <div class="user-right-bottom">
          <h4>Broadcasters <%=@user%> Follows:</h4>
        </div>
      </div>
    </div>

  <% elsif @user.broadcaster? %>
    <div class="user-main">
      <div class="user-left-col">
        <div class="user-left-top">
          <h3>Welcome to <%= current_user.name%>'s Broadcasting page!</h3>
          <% if @followUser %>
            <% @followUsers.each do |follow| %>
              <% if follow.user_id == @user.id && follow.active == true %>
                  <%= form_for @followUser do |f| %>
                    <input type="hidden" name="_method" value="patch">
                    <%= f.hidden_field :user_id, value: @user.id %>
                    <%= f.hidden_field :follower_id, value: current_user.id %>
                    <%= f.hidden_field :active, value: false  %>
                    <span class="mdl-layout-title">
                      <button class="team-follow-button" id="follow" type="submit" name="action">Unfollow <%= @user %></button>
                    </span>
                  <% end %>
              <% elsif follow.team == @team && follow.active == false %>
                  <%= form_for @followUser do |f| %>
                      <input type="hidden" name="_method" value="patch">
                      <%= f.hidden_field :user_id, value: @user.id %>
                      <%= f.hidden_field :follower_id, value: current_user.id %>
                      <%= f.hidden_field :active, value: true  %>
                      <span class="mdl-layout-title">
                        <button class="team-follow-button" id="follow" type="submit" name="action">Follow <%= @user %></button>
                      </span>
                  <% end %>
              <% end %>
            <% end %>

          <% else %>
            <%= form_for @followUserNew do |f| %>
              <%= f.hidden_field :user_id, value: @user.id %>
              <%= f.hidden_field :follower_id, value: current_user.id %>
              <%= f.hidden_field :active, value: true  %>
                <span class="mdl-layout-title">
                  <button class="team-follow-button" id="follow" type="submit" name="action">Follow <%= @user %></button>
                </span>
            <% end %>
          <% end %>
        </div>
        <div class="user-left-bottom">
          <h4>Teams They Follow:</h4>
          <% @followUsers.each do |followUser| %>
          <%if followUser.user_id == @user.id && followUser.active == true %>
            <a href="/games/nfl/<%=followUser.team %>"><%=followUser.team %></a></br>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="user-right-col">
        <div class="user-right-top">
          <h4>Their Upcoming Broadcasts</h4>

        </div>
        <div class="user-right-bottom">
          <h4>Their followers:</h4>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->
<!--Mixlr link  -->
<!-- <iframe src="https://mixlr.com/users/3966051/embed" width="40%" height="180px" scrolling="no" frameborder="no" marginheight="0" marginwidth="0"></iframe> -->

<div class = "content">
  Testing facebook
  <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true">
  </div>
</div>
