
<div class="team-follow">
  <h1><%= @team %> Page</h1> <button class="team-follow-button">Follow <%= @team %></button>
</div>
<div class="main-team">
  <div class='team-logo'>
    <img src="http://www.brendanhastings.nyc/fc/nfl/<%=@team%>.jpg" alt= @team + "logo" />

    <!-- <%= image_tag(@team + ".png", :alt => @team + " logo") %> -->
  </div>

  <div class="broadcasters">
    <h3>Most Popular Broadcasters</h3>
  </div>


  <div class='team-stats'>
    <h3> <%= @team %></h3>
    <p>Next Opponent: <%= @next_opponent %> </p>
  </div>

  <div class='venue-info'>
    <h3>Stadium Info</h3>
    <p>Stadium: <%= @stadium %> </p>
    <p>City: <%= @city %>, State: <%= @state %> </p>
    <p>Capacity: <%= @capacity %> </p>
    <p>Surface: <%= @surface  %> </p>
    <p>Type: <%= @type %></p>
  </div>

</div>

<script>
$(document).ready(function(){

  $(".team-follow-button").click(function(){
    console.log("<%= @team %>")
  });

});

</script>
